<div class="grid">
    <div class="col">
        <div class="text-center mt-2 font-bold">

            <p-card header="Card">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, blanditiis?
            </p-card>
            

        </div>
    </div>
    <div class="col">
        <div class="text-center mt-2 ml-2 font-bold ">


            <p-card header="Card">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, blanditiis?
            </p-card>


        </div>
    </div>
    <div class="col">
        <div class="text-center mt-2 ml-2 font-bold ">
            
            
            <p-card header="Card">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, blanditiis?
            </p-card>


        </div>
    </div>
</div>